/*
Styling for TSA Webmaster 2018-19 Tommegun Site
@author Joshua Famous joshua.famous@gmail.com
*/

/* Generic Definitions */
.color_black{
  color:#170203;
}
.color_white{
  color:#fdfdeb;
}
.color_primary{
  color:#dc0527;
}
.color_accent{
  color:#ea3826;
}
.color_hilight{
  color:#fcd577;
}
.bg_black{
  background-color:#170203;
}
.bg_white{
  background-color:#fdfdeb;
}
.bg_primary{
  background-color:#dc0527;
}
.bg_accent{
  background-color:#ea3826;
}
.bg_hilight{
  background-color:#fcd577;
}

/* Overrides */
body{
  margin:0 0 0 0;
  line-height:1.4;
  font-family: 'PT Sans', sans-serif;
}
html{
  font-size:16px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dc0527;
  border-top: 4px solid #fcd577;
  border-bottom: 4px solid #fcd577;
  padding: 1rem;
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.1);
  position: sticky;
  top: -4px;
  color: #fdfdeb;
  flex-wrap: wrap;
  z-index: 3;
}
nav a{
  margin: 0 3rem;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fdfdeb;
  padding: 6px;
  border: 2px solid #dc0527;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-align: center;
}
nav a:hover{
  border: 2px solid #fcd577;
  box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.1);
}
h1{
  font-family: 'Poppins', sans-serif;
}
h2{
  font-family: 'Poppins', sans-serif;
}

/* Novel Classes */
#titlesection{
  height:calc(100vh - 4.5rem);
}
#coverText{
  position:absolute;
  bottom:calc(calc(calc(100vh - 4.5rem) / 2) - 3.25rem);
  margin-left:5rem;
  z-index:5;
  color:#fdfdeb;
}
#coverText h1{
  font-size:6rem;
  margin-bottom:0;
}
#coverText h2{
  font-size:4rem;
  margin-top:0;
  margin-bottom:0;
}
.buttonLink{
  text-decoration: none;
  font-size:1.5rem;
  color:#fdfdeb;
  padding:1rem;
  margin:2px;
}
.buttonLink:hover{
  border:2px solid #fdfdeb;
  margin:0;
}